{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Projet Symfony d'apprentissage</h1>
		<p>Ceci est un projet d'apprentissage du Framework Symfony. Vous pouvez utiliser cette page pour tester et expérimenter les fonctionnalités de Symfony.</p>
		<p>N'hésitez pas à explorer et à modifier le code pour mieux comprendre le fonctionnement de Symfony.</p>
	</div>
{% endblock %}
